body {
  margin: 0 !important;
  padding: 0 !important;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;

  .designer {
    height: calc(100vh - 50px);
    position: relative;
    z-index: 5;
    margin-bottom: 0px !important;
  }

  .floatingModulesSearchBoxCon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #444;
    opacity: 0.5;
    z-index: 9999;
  }

  .floatingModulesSearchBox {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 10000;

    input {
      height: 60px;
      width: 100%;
      max-width: 100%;
      background-color: #fff;
      opacity: 1;
      padding-left: 60px;
      font-size: 13px;
    }

    input.autoCompleteShown {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }

    i {
      width: 40px;
      height: 40px;
    }

    .autoComplete {
      top: 70px;
      border: solid 1px var(--mb-primary-color);
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      li {
        width: 398px;
        background-color: #fff;
        color: var(--mb-secondary-color);
        border: none;
      }

      li:hover {
        background-color: var(--mb-primary-darkest);
        color: #fff;
      }

      li:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .publish-btn {
    width: 98%;
    margin-left: 4px;
  }

  .sm-deployment-btn {
    width: 128px !important;
    height: 20px;
    border-radius: 5px;
    float: right;
    font-family: MuseoSansRounded;
    font-size: 12px;
    margin: 5px auto 50px;
  }

  .designerMenuShowing {
    position: absolute;
    top: 340px;
    right: -14px;
    cursor: pointer;
    z-index: 9999;
  }

  .designerMenuHiding {
    position: absolute;
    top: 50%;
    right: -17px;
    cursor: pointer;
    z-index: 9999;
    margin-top: -30px;
  }

  .hideCom {
    display: none;
  }
}

.ScrollbarsCustom-Scroller {
  margin-bottom: -20px !important;
}

// .ScrollbarsCustom-Wrapper {
//   inset: 0px 0px -10px 0px !important;
// }

.designArea {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--mb-controls-color);
  overflow: overlay;
  cursor: -webkit-grab;

  &:active {
    cursor: -webkit-grabbing;
  }

  .designAreaInner {
    height: 10000px;
    width: 10000px;
    position: relative;
    background-size: 50px 50px;
    background-color: #f2e4ce;
    background-image: linear-gradient(90deg, #efdec3 1px, transparent 0),
      linear-gradient(180deg, #efdec3 1px, transparent 0);

    .module.person {
      background-color: #699041;
      color: #fff;
    }

    .module.selection {
      background-color: #a06e8c;
    }

    .module.logic {
      background-color: #6f9bbd;
    }

    .module.ai {
      background-color: #ebb760;
    }

    .module.integration {
      background-color: #bd9e70;
    }

    .module.email {
      background-color: #71dba3;
    }

    .module.input {
      background-color: #f0d775;
    }

    .module.handover {
      background-color: #ee2a7b;
    }

    .module.switch {
      background-color: #6f9775;
    }

    .module.end {
      background-color: #c96751;
    }

    .module.start {
      background-color: #3fb98c;
    }

    .module.zapier {
      background-color: #ff4a00;
    }

    .module.payment {
      background-color: #2ec6c6;
    }
  }
}

svg {
  .connection {
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: dash 4s linear infinite;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 100;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}
