body {
  margin: 0;
  padding: 0;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;

  .header {
    width: 100%;
    height: 50px;
    z-index: 9999;
    position: relative;
    background-color: #76665b;

    .chartName {
      font-weight: 600;
      width: 260px;
      display: inline-block;
      margin: 12px;
      position: relative;
      text-align: left;
      color: #fff;
      height: 25px;
      font-size: 20px;
    }

    .search-btn {
      button {
        background-color: #fff;
        border: solid 1px var(--bc-secondary-light-hover);
        border-radius: 10px;
        height: 25px;
        width: 100%;
        color: var(--bc-secondary-light-hover);
        padding-left: 30px;
        cursor: pointer;

        i {
          color: var(--bc-secondary-light-hover);
          position: absolute;
          left: 10px;
          top: 5px;
        }
      }

      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -60px;
      width: 120px;
      height: 25px;
    }

    .leftSide {
      position: absolute;
      right: 10px;
      top: 6px;

      button {
        width: 100px;
        border-radius: 10px;
        height: 25px;
      }

      .profile-nav {
        border-bottom: none;
        display: inline-block;

        li {
          margin-left: 20px;
          text-align: center;
          color: var(--mb-primary-darker);

          a {
            color: var(--mb-primary-darker);
            padding: 0 4px 6px;
            margin: 0;
            color: var(--mb-primary-darker);
          }
        }
      }
    }
  }

  .designer {
    height: calc(100vh - 50px);
    position: relative;
    z-index: 5;
  }

  .floatingModulesSearchBoxCon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #444;
    opacity: 0.5;
    z-index: 9999;
  }

  .floatingModulesSearchBox {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 10000;

    input {
      height: 60px;
      width: 100%;
      max-width: 100%;
      background-color: #fff;
      opacity: 1;
      padding-left: 60px;
      font-size: 13px;
    }

    input.autoCompleteShown {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }

    i {
      width: 40px;
      height: 40px;
    }

    .autoComplete {
      top: 70px;
      border: solid 1px var(--mb-primary-color);
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      li {
        width: 398px;
        background-color: #fff;
        color: var(--mb-secondary-color);
        border: none;
      }

      li:hover {
        background-color: var(--mb-primary-darkest);
        color: #fff;
      }

      li:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .publish-btn {
    width: 98%;
    margin-left: 4px;
  }

  .sm-deployment-btn {
    width: 128px !important;
    height: 20px;
    border-radius: 5px;
    float: right;
    font-family: MuseoSansRounded;
    font-size: 12px;
    margin: 5px auto 50px;
  }

  .designerMenuShowing {
    position: absolute;
    top: 340px;
    right: -14px;
    cursor: pointer;
    z-index: 9999;
  }

  .designerMenuHiding {
    position: absolute;
    top: 50%;
    right: -17px;
    cursor: pointer;
    z-index: 9999;
    margin-top: -30px;
  }

  .hideCom {
    display: none;
  }
}

.designAreadHeader {
  background-color: var(--mb-module-background);
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;

  .zoomLevelSelector2 {
    z-index: 10000;
    position: absolute;
    right: 10px;
    bottom: 80px;
    font-weight: 500;

    i {
      margin: 0 5px;
      cursor: pointer;
      margin-bottom: -11px;
    }
  }

  .zoomLevelSelector {
    z-index: 10000;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px 8px;
    background-color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: 500;
    line-height: 10px;
    font-size: 14px;

    i {
      margin: 0 5px;
      cursor: pointer;
      margin-bottom: -10px;
      font-size: 14px;
    }
  }
}

.ScrollbarsCustom-Scroller {
  margin-bottom: -20px !important;
}

// .ScrollbarsCustom-Wrapper {
//   inset: 0px 0px -10px 0px !important;
// }

.designArea {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--mb-controls-color);
  overflow: overlay;
  cursor: -webkit-grab;

  &:active {
    cursor: -webkit-grabbing;
  }

  .designAreaInner {
    height: 10000px;
    width: 10000px;
    position: relative;
    background-size: 50px 50px;
    background-color: #f2e4ce;
    background-image: linear-gradient(90deg, #efdec3 1px, transparent 0),
      linear-gradient(180deg, #efdec3 1px, transparent 0);

    .module.person {
      background-color: #699041;
      color: #fff;
    }

    .module.selection {
      background-color: #a06e8c;
    }

    .module.logic {
      background-color: #6f9bbd;
    }

    .module.ai {
      background-color: #ebb760;
    }

    .module.integration {
      background-color: #bd9e70;
    }

    .module.email {
      background-color: #71dba3;
    }

    .module.input {
      background-color: #f0d775;
    }

    .module.handover {
      background-color: #ee2a7b;
    }

    .module.switch {
      background-color: #6f9775;
    }

    .module.end {
      background-color: #c96751;
    }

    .module.start {
      background-color: #3fb98c;
    }

    .module.zapier {
      background-color: #ff4a00;
    }

    .module.payment {
      background-color: #2ec6c6;
    }

    .module {
      position: relative;
      border-radius: 5px;
      height: 90px;
      width: 90px;
      position: absolute;
      text-align: center;
      overflow: hidden;
      cursor: move;

      &.active {
        border: 2px solid #00599f;
        -webkit-box-shadow: 0px 0px 7px 0px #00599f;
        -moz-box-shadow: 0px 0px 7px 0px #00599f;
        box-shadow: 0px 0px 7px 0px #00599f;
      }

      &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .moduleID {
        position: absolute;
        top: 4px;
        right: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.23;
        letter-spacing: normal;
        color: #fff;
        margin: 7px 0px 2px 0px;
      }

      .moduleIcon {
        position: absolute;
        top: 3px;
        left: 3px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .moduleType {
        font-size: 10px;
        width: 50%;
        height: 30px;
        float: left;
        display: none;
      }

      .moduleNameCon {
        width: 100%;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 6px;
        position: relative;
      }

      .moduleNameCon>i {
        margin-top: 5px;
      }

      .moduleName {
        clear: both;
        height: 36px;
        width: 100%;
        display: inline-block;
        border-radius: 0px;
        background-color: transparent;
        padding: 6px;
        text-align: left;
        font-weight: 700;
        border-radius: 5px;
        color: #fff;
        overflow: hidden;
      }

      .moduleName:hover {
        color: #fff;
      }

      .moduleName:focus {
        background-color: #e3e3e3;
        color: #4d4d4d;
        width: 100%;
      }

      .moduleAction {
        font-size: 12px;
        height: 23px;
        width: 100%;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

svg {
  .connection {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation: dash 10s linear infinite;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}