body{
  margin: 0;
  padding: 0;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 50px;
    z-index: 9999;
    position: relative;
    .chartName {
      font-weight: 500;
      width: 260px;
      display: inline-block;
      margin: 16px;
      position: relative;
      font-family: var(--font-stack);
      text-align: left;
      color: #662d91;
      height: 25px;
    }
    .search-btn {
      button {
        background-color: #fff;
        border: solid 1px var(--bc-secondary-light-hover);
        border-radius: 10px;
        height: 25px;
        width: 100%;
        color: var(--bc-secondary-light-hover);
        padding-left: 30px;
        cursor: pointer;
        i {
          color: var(--bc-secondary-light-hover);
          position: absolute;
          left: 10px;
          top: 5px;
        }
      }
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -60px;
      width: 120px;
      height: 25px;
    }
    .leftSide {
      position: absolute;
      right: 10px;
      top: 6px;
      button {
        width: 100px;
        border-radius: 10px;
        height: 25px;
      }
      .profile-nav {
        border-bottom: none;
        display: inline-block;
        li {
          margin-left: 20px;
          text-align: center;
          color: var(--mb-primary-darker);
          a {
            color: var(--mb-primary-darker);
            padding: 0 4px 6px;
            margin: 0;
            color: var(--mb-primary-darker);
          }
        }
      }
    }
  }
  .designer {
    height: calc(100vh - 50px);
    position: relative;
    z-index: 5;
  }
  .floatingModulesSearchBoxCon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #444;
    opacity: 0.5;
    z-index: 9999;
  }
  .floatingModulesSearchBox {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 10000;
    input {
      height: 60px;
      width: 100%;
      max-width: 100%;
      background-color: #fff;
      opacity: 1;
      padding-left: 60px;
      font-size: 13px;
    }
    input.autoCompleteShown {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }
    i {
      width: 40px;
      height: 40px;
    }
    .autoComplete {
      top: 70px;
      border: solid 1px var(--mb-primary-color);
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      li {
        width: 398px;
        background-color: #fff;
        color: var(--mb-secondary-color);
        border: none;
      }
      li:hover {
        background-color: var(--mb-primary-darkest);
        color: #fff;
      }
      li:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
  .publish-btn {
    width: 98%;
    margin-left: 4px;
  }

  .sm-deployment-btn {
    width: 128px !important;
    height: 20px;
    border-radius: 5px;
    float: right;
    font-family: MuseoSansRounded;
    font-size: 12px;
    margin: 5px auto 50px;
  }

  .designerMenuShowing {
    position: absolute;
    top: 340px;
    right: -14px;
    cursor: pointer;
    z-index: 9999;
  }
  .designerMenuHiding {
    position: absolute;
    top: 50%;
    right: -17px;
    cursor: pointer;
    z-index: 9999;
    margin-top: -30px;
  }
  .hideCom {
    display: none;
  }
  .conversationPage {
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    z-index: 100 !important;
    height: 95% !important;
    margin-top: 8%;
  }
}

.designAreadHeader {
  background-color: var(--mb-module-background);
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .zoomLevelSelector2 {
    z-index: 10000;
    position: absolute;
    right: 10px;
    bottom: 80px;
    font-weight: 500;
    i {
      margin: 0 5px;
      cursor: pointer;
      margin-bottom: -11px;
    }
  }
  .zoomLevelSelector {
    z-index: 10000;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px 8px;
    background-color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: 500;
    line-height: 10px;
    font-size: 14px;
    i {
      margin: 0 5px;
      cursor: pointer;
      margin-bottom: -10px;
      font-size: 14px;
    }
  }
}
.flow-organize-modules {
  background-image: url("/assets/icons/organize_module.svg");
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-bottom: -5px !important;
}

.designArea {
  position: absolute;
  top: 0;
  left: -25px;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--mb-controls-color);
  overflow: overlay;
  cursor: -webkit-grab;
  &:active {
    cursor: -webkit-grabbing;
  }
  .designAreaInner {
    height: 10000px;
    width: 10000px;
    position: relative;
    background-size: 30px 30px;
    background-image: linear-gradient(90deg, #f0f0f0 1px, transparent 0),
      linear-gradient(180deg, #f0f0f0 1px, transparent 0);
    .module.message {
      background-color: var(--mb-message-color);
    }
    .module.selection {
      background-color: var(--mb-selection-color);
    }
    .module.logic {
      background-color: var(--mb-logic-color);
    }
    .module.ai {
      background-color: var(--mb-ai-color);
    }
    .module.livechat {
      background-color: var(--mb-livechat-color);
    }
    .module.integration {
      background-color: var(--mb-integration-color);
    }
    .module.email {
      background-color: var(--mb-email-color);
    }
    .module.input {
      background-color: var(--mb-input-color);
    }
    .module.handover {
      background-color: var(--mb-primary-darker);
    }
    .module.switch {
      background-color: var(--mb-switch-color);
    }
    .module.end {
      background-color: var(--mb-end-color);
    }
    .module.start {
      background-color: var(--mb-start-color);
    }
    .module.zapier {
      background-color: var(--mb-zapier-color);
    }
    .module.payment {
      background-color: var(--mb-payment-color);
    }
    .module.wait {
      background-color: var(--mb-wait-color);
    }
    .module.ecommerce {
      background-color: var(--mb-ecommerce-color);
    }
    .module {
      position: relative;
      border-radius: 5px;
      height: 90px;
      width: 90px;
      background-color: #f7f7f7;
      position: absolute;
      text-align: center;
      overflow: hidden;
      cursor: move;
      border: 1px solid #f7f7f7;
      &.active {
        border-color: var(--mb-danger-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-danger-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-danger-color);
        box-shadow: 0px 0px 14px 0px var(--mb-danger-color);
      }
      &.active.selection {
        border-color: var(--mb-selection-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-selection-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-selection-color);
        box-shadow: 0px 0px 14px 0px var(--mb-selection-color);
      }
      &.active.input {
        border-color: var(--mb-input-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-input-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-input-color);
        box-shadow: 0px 0px 14px 0px var(--mb-input-color);
      }
      &.active.message {
        border-color: var(--mb-message-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-message-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-message-color);
        box-shadow: 0px 0px 14px 0px var(--mb-message-color);
      }
      &.active.ai {
        border-color: var(--mb-ai-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-ai-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-ai-color);
        box-shadow: 0px 0px 14px 0px var(--mb-ai-color);
      }
      &.active.livechat {
        border-color: var(--mb-livechat-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-livechat-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-livechat-color);
        box-shadow: 0px 0px 14px 0px var(--mb-livechat-color);
      }
      &.active.handover {
        border-color: var(--mb-primary-darker);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-primary-darker);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-primary-darker);
        box-shadow: 0px 0px 14px 0px var(--mb-primary-darker);
      }
      &.active.switch {
        border-color: var(--mb-switch-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-livechat-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-livechat-color);
        box-shadow: 0px 0px 14px 0px var(--mb-livechat-color);
      }
      &.active.integration {
        border-color: var(--mb-integration-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-integration-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-integration-color);
        box-shadow: 0px 0px 14px 0px var(--mb-integration-color);
      }
      &.active.email {
        border-color: var(--mb-email-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-email-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-email-color);
        box-shadow: 0px 0px 14px 0px var(--mb-email-color);
      }
      &.active.end {
        border-color: var(--mb-end-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-end-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-end-color);
        box-shadow: 0px 0px 14px 0px var(--mb-end-color);
      }
      &.active.logic {
        border-color: var(--mb-logic-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-logic-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-logic-color);
        box-shadow: 0px 0px 14px 0px var(--mb-logic-color);
      }
      &.active.start {
        border-color: var(--mb-start-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-start-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-start-color);
        box-shadow: 0px 0px 14px 0px var(--mb-start-color);
      }
      &.active.zapier {
        border-color: var(--mb-zapier-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-zapier-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-zapier-color);
        box-shadow: 0px 0px 14px 0px var(--mb-zapier-color);
      }
      &.active.payment {
        border-color: var(--mb-payment-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-payment-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-payment-color);
        box-shadow: 0px 0px 14px 0px var(--mb-payment-color);
      }
      &.active.wait {
        border-color: var(--mb-wait-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-wait-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-wait-color);
        box-shadow: 0px 0px 14px 0px var(--mb-wait-color);
      }
      &.active.ecommerce {
        border-color: var(--mb-ecommerce-color);
        -webkit-box-shadow: 0px 0px 14px 0px var(--mb-ecommerce-color);
        -moz-box-shadow: 0px 0px 14px 0px var(--mb-ecommerce-color);
        box-shadow: 0px 0px 14px 0px var(--mb-ecommerce-color);
      }
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .moduleID {
        position: absolute;
        top: 4px;
        right: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.23;
        letter-spacing: normal;
        color: #fff;
        margin: 7px 0px 2px 0px;
      }
      .moduleIcon {
        position: absolute;
        top: 3px;
        left: 3px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .moduleType {
        font-size: 10px;
        width: 50%;
        height: 30px;
        float: left;
        display: none;
      }
      .moduleNameCon {
        width: 100%;
        margin-top: 28px;
        padding: 6px;
      }
      .moduleNameCon > i {
        margin-top: 5px;
      }
      .moduleName {
        font-size: var(--mb-fontSize-xs);
        clear: both;
        height: 36px;
        width: 100%;
        display: inline-block;
        border-radius: 0px;
        background-color: transparent;
        padding: 6px;
        text-align: left;
        font-weight: 700;
        border-radius: 5px;
        font-family: var(--mb-font-stack);
        color: #fff;
        overflow: hidden;
      }
      .moduleName:hover {
        color: #fff;
      }
      .moduleName:focus {
        background-color: #e3e3e3;
        color: #4d4d4d;
        width: 100%;
      }
      .moduleAction {
        font-size: 12px;
        height: 23px;
        width: 100%;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

/* Test Error Page Styles ====================================================*/
.test-error-page {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 40%;
  i {
    width: 91px;
    height: 100px;
  }
  h1 {
    font-weight: var(--mb-fontWeight-bold);
    height: 36px;
    font-size: var(--mb-fontSize-xxl);
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .primary-btn {
    width: 90%;
  }
}
